Kivy==2.0.0	
Kivy-Garden==0.1.4	
google-trans-new==1.1.9	
identify==2.1.1	
idna==2.10	
imageio==2.9.0		
lxml==4.6.2
matplotlib==3.3.4
opencv-python==4.5.1.48
pip==21.0.1
pypiwin32==223
pytesseract==0.3.7
python-bidi==0.4.2
python-dateutil==2.8.1
requests==2.25.1
rfc3986==1.4.0
translate==3.5.0

